<a href="https://colab.research.google.com/github/nanderson-rodrigues/projeto-etl/blob/main/projeto_etl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandera

In [2]:
import pandas as pd
import pandera as pa

In [35]:
df = pd.read_csv("ocorrencia_2010_2020.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

### Validação

In [36]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [37]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5735              79769  ...                    0
5736              79804  ...                    0
5737              79757  ...                    0
5738              79802  ...                    0
5739              79756  ...                    0

[5740 rows x 9 columns]

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5735    12
5736    12
5737    12
5738    12
5739    12
Name: ocorrencia_dia, Length: 5740, dtype: int64

In [ ]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5735         MANOEL URBANO
5736              CAMPINAS
5737     LAGOA DA CONFUSÃO
5738        RIO DE JANEIRO
5739             VICENTINA
Name: ocorrencia_cidade, Length: 5740, dtype: object

In [ ]:
df.codigo_ocorrencia.is_unique

True

###Limpeza

In [38]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [39]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [40]:
df.replace(['**','###!', '####', '****', '*****', 'NULL'], pd.NA, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
df.head(100)

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0               40211               40211  ...        12:00:00                   0
1               40349               40349  ...        11:05:00                   0
2               40351               40351  ...        03:00:00                   0
3               39527               39527  ...        17:30:00                   0
4               40324               40324  ...        19:25:00                   0
..                ...                 ...  ...             ...                 ...
95              40329               40329  ...        12:10:00                   0
96              41998               41998  ...        13:37:00                   0
97              41999               41999  ...        03:00:00                   0
98              40088               40088  ...        13:10:00                   3
99              40148               40148  ...        19:30:00                   1

[100 rows x 9 columns]

In [ ]:
df.isna()

      codigo_ocorrencia  ...  total_recomendacoes
0                 False  ...                False
1                 False  ...                False
2                 False  ...                False
3                 False  ...                False
4                 False  ...                False
...                 ...  ...                  ...
5735              False  ...                False
5736              False  ...                False
5737              False  ...                False
5738              False  ...                False
5739              False  ...                False

[5740 rows x 9 columns]

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2176
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

### Transformação

- Limpando de outra forma:

In [41]:
valores_ausentes = ['**','###!', '####', '****', '*****', 'NULL']
df = pd.read_csv("ocorrencia_2010_2020.csv", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

In [42]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [43]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5735              79769  ...                    0
5736              79804  ...                    0
5737              79757  ...                    0
5738              79802  ...                    0
5739              79756  ...                    0

[5740 rows x 9 columns]

In [11]:
#ocorrencias onde aja incidentes graves ou não em SP
filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
5694              79739  ...                    0
5695              79705  ...                    0
5705              79718  ...                    0
5731              79800  ...                    0
5736              79804  ...                    0

[984 rows x 9 columns]

In [13]:
#ocorrencia onde cidades comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
5652              79649  ...                    0
5654              79652  ...                    0
5670              79683  ...                    0
5686              79692  ...                    0
5736              79804  ...                    0

[825 rows x 9 columns]

In [14]:
#ocorrencia onde cidades terminam com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
5727              79787  ...                    0
5728              79749  ...                    0
5732              79824  ...                    0
5733              79753  ...                    0
5739              79756  ...                    0

[1552 rows x 9 columns]

In [15]:
#ocorrencia onde cidades terminam com MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2655              51347  ...                    0
2855              52340  ...                    1
2965              52832  ...                    0
2995              52979  ...                    0
3038              52984  ...                    0
3090              53596  ...                    0
3155              53223  ...                    0
3169              53265  ...                    2
3187              53271  ...                    0
3680              65414  ...                    1
3723              65633  ...                    0
3879              66265  ...                    0
4227              77371  ...                    1
4309              77612  ...                    0
4570              78080  ...                    0
4981              78867  ...                    0
5065              78923  ...                    0
5075              78782  ...                    0
5400              79282  ...                    0
5435              79338  ...                    0
5468              79400  ...                    0

[30 rows x 9 columns]

In [16]:
#ocorrencia onde nomes de cidades contêm MA
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
5722              79745  ...                    0
5728              79749  ...                    0
5730              79754  ...                    0
5734              79755  ...                    0
5735              79769  ...                    0

[488 rows x 9 columns]

In [27]:
filtro = df.ocorrencia_dia.dt.year == 2020
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5237              79043  ...                    0
5238              79044  ...                    0
5239              79049  ...                    0
5240              79132  ...                    0
5241              79182  ...                    0
...                 ...  ...                  ...
5735              79769  ...                    0
5736              79804  ...                    0
5737              79757  ...                    0
5738              79802  ...                    0
5739              79756  ...                    0

[503 rows x 9 columns]

In [45]:
#juntando coluna de data e hora e preservando o tipo datetime
df['ocorrencia_dia_hora'] = pd.to_datetime( df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora )

In [30]:
df.head()

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00
2              40351  ...  2010-01-03 03:00:00
3              39527  ...  2010-01-04 17:30:00
4              40324  ...  2010-01-05 19:25:00

[5 rows x 10 columns]

In [31]:
filtro1 = df.ocorrencia_dia_hora >= '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora <=  '2015-12-08 11:00:00'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3431              60637  ...  2015-12-03 16:47:00
3432              53625  ...  2015-12-06 13:10:00
3433              53626  ...  2015-12-06 15:00:00
3435              53629  ...  2015-12-08 10:20:00

[4 rows x 10 columns]

In [46]:
#criando dataframe para o período de 03-2015
filtro1 = df.ocorrencia_dia_hora.dt.year == 2015
filtro2 = df.ocorrencia_dia_hora.dt.month == 3 
df201503 = df.loc[filtro1 & filtro2]
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3084              53183  ...  2015-03-02 23:00:00
3085              53120  ...  2015-03-04 13:30:00
3086              53109  ...  2015-03-05 13:50:00
3087              53112  ...  2015-03-06 21:00:00
3088              53152  ...  2015-03-10 11:30:00
3089              53167  ...  2015-03-10 17:33:00
3090              53596  ...  2015-03-10 21:35:00
3091              53149  ...  2015-03-11 23:25:00
3092              53148  ...  2015-03-12 12:40:00
3093              53153  ...  2015-03-13 15:45:00
3094              53154  ...  2015-03-13 14:40:00
3095              53238  ...  2015-03-13 11:30:00
3096              53189  ...  2015-03-14 07:20:00
3097              53193  ...  2015-03-14 18:00:00
3098              53164  ...  2015-03-15 18:30:00
3099              53151  ...  2015-03-16 18:07:00
3100              53168  ...  2015-03-16 21:05:00
3101              53169  ...  2015-03-19 03:25:00
3102              53165  ...  2015-03-20 14:35:00
3103              53188  ...  2015-03-20 21:00:00
3104              53184  ...  2015-03-22 13:44:00
3105              53178  ...  2015-03-23 17:15:00
3106              53182  ...  2015-03-23 20:40:00
3107              53166  ...  2015-03-24 14:45:00
3108              53170  ...  2015-03-24 17:57:00
3109              53185  ...  2015-03-24 23:01:00
3110              53412  ...  2015-03-24 16:35:00
3111              53194  ...  2015-03-26 20:30:00
3112              53186  ...  2015-03-27 14:55:00
3113              53179  ...  2015-03-28 10:30:00
3114              53180  ...  2015-03-28 18:52:00
3115              53190  ...  2015-03-28 16:26:00
3116              53212  ...  2015-03-28 17:32:00
3117              53213  ...  2015-03-28 15:51:00
3118              53181  ...  2015-03-29 20:17:00
3119              53187  ...  2015-03-29 18:36:00
3120              53211  ...  2015-03-30 19:40:00

[37 rows x 10 columns]

In [47]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [49]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [50]:
#ao contar usando a ocorrencia_aerodromo a contagem sai 'errada' pois há valores nulos em alguns lugares
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [51]:
#melhor utilizar size() já que ele conta os registros
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [53]:
 filtro1 = df.ocorrencia_dia.dt.year == 2010
 filtro2 = df.ocorrencia_uf.isin(['SP', 'MG', 'ES', 'RJ'])
 dfsudeste2010 = df.loc[filtro1 & filtro2]
 dfsudeste2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
9                39711  ...  2010-01-10 20:00:00
11               40069  ...  2010-01-10 14:50:00
16               39809  ...  2010-01-15 15:00:00
..                 ...  ...                  ...
541              43722  ...  2010-12-23 11:00:00
544              43548  ...  2010-12-26 22:10:00
548              43724  ...  2010-12-29 12:00:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[228 rows x 10 columns]

In [54]:
dfsudeste2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [55]:
dfsudeste2010.groupby(['ocorrencia_classificacao', 'ocorrencia_uf']).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  MG                7
                          RJ                9
                          SP               24
INCIDENTE                 ES                5
                          MG               39
                          RJ               52
                          SP               74
INCIDENTE GRAVE           MG                5
                          RJ                4
                          SP                9
dtype: int64

In [56]:
dfsudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [58]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBAE     0
SBAQ     0
SBBH     0
SBBP     9
SBBU     0
SBCF     0
SBGL     3
SBGR     0
SBIP     0
SBJD     7
SBJR     3
SBKP     0
SBME     0
SBMK     0
SBML     0
SBMT    27
SBPC     0
SBPR     1
SBRJ    19
SBRP     0
SBSJ     0
SBSP     0
SBSR     0
SBUL     0
SBUR     0
SBVT     0
SDAM     0
SDOI     1
SDPW     0
SDPY     0
SNDT     0
SNDV     0
SNXT     0
NaN     45
Name: total_recomendacoes, dtype: int64